.big-card {
	background-color: white;
	border-radius: 16px;
	margin: 5px 10px;
	padding: 20px;
	box-shadow: 0 0 5px rgb(68, 68, 68);
	padding: 40px;
}

.title{
margin-top: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

a {
text-decoration: none;
color: black;
font-size: 20px;
font-weight: 700;
line-height: 20px;
overflow: hidden;
text-overflow: ellipsis;
}

.description {
color: black;
overflow: hidden;
}

p {
display: flex;
margin: 10px 0;
margin-top: 20px;
color: grey;
font-size: 12px;
}

img {
height: 15px;
width: 15px;
margin: 0 5px;
}

