.card {
	width: 100%;
	max-width: 430px;
	background-color: white;
	border-radius: 16px;
	margin: 5px;
	padding: 20px;
	box-shadow: 0 0 5px rgb(68, 68, 68);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.img {
width: 50%;
height: 100%;
overflow: hidden;
border-radius: 16px;
}

.title {
margin-top: 12px;
display: flex;
}

a {
text-decoration: none;
color: black;
font-size: 15px;
font-family: sans-serif;
}

a:hover {
	color: red;
}


