.small-card {
	background-color: white;
	border-radius: 16px;
	margin: 5px 10px;
	padding: 20px;
	display: flex;
	box-shadow: 0 0 5px rgb(68, 68, 68);
	height: 120px;
}

.img {
width: 200px;
border-radius: 16px;
}

.title {
padding: 5px 15px;
display: flex;
}

a {
text-decoration: none;
color: black;
font-weight: 500;
line-height: 20px;
font-size: 18px;
}

p {
display: flex;
color: grey;
font-size: 12px;
}
